@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600;700&family=Lexend+Deca:wght@100;200;300;400;500;600;700&family=Montserrat:wght@400;700&family=Mulish:wght@300&family=Poppins:wght@300;400;600&family=Urbanist:wght@300;400;600;700;800;900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist", sans-serif;
    /* overflow-x: hidden; */
}

:root{
    --bs-dark-color: #1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secondary-color: #29a9fd;
    --bs-supporting-color: #C850C0;
    --bs-button-color: #0d6efd;
    --bs-whatsapp-color: #25D366;

}

.header-color{
    color: var(--secondary-color);
}
.header-color:hover{
    color: var(--bs-main-color);
}



h1, h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var( --bs-dark-color);
}

h1{
    font-size: 3.8rem;
}

h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.4rem;
}

p{
    margin: 0;
    font-weight: 400;
    font-size: 1rem;
    color: var( --bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

button, a{
    font-size: 1.15rem !important;
    letter-spacing: 0.03rem;
    word-spacing: .1rem;
}

.common-section{
    overflow: hidden;
}


.nav-link{
    color: var(--bs-main-color);
    font-weight: bold;
  
    position: relative;
}

.alink::before,
.alink::after {
  content: "";
  position: absolute;
  width: 60%;
  height: 2px;
  background: var(--secondary-color);
  transform: scaleX(0);
  transition: all 0.6s ease;
}

.alink::before {
  top: 0;
  left: 0;
  transform-origin: left;
}
.alink::after {
  bottom: 0;
  right : 0;
  transform-origin: right;
}

.alink:hover::before,
.alink:hover::after {
  transform: scaleX(1);
  /* width: 100%; */
}

.nav-link:hover{
    color: var(--secondary-color) !important;
}

.common-heading{
    font-size: 2.2rem;
    font-weight: 500;
    letter-spacing: 0.01rem;
}

.common-title{
    margin-bottom: 4.2rem;
}

/* Top part starts here */

.milking-cow .container{
    display: grid;
    place-content: center;
    height: inherit;
}

.bg-main{
    height: 80vh;
    position: relative;
}

.bg-color{
    background-color: var(--bs-dark-primary);
}

.text-light-gray{
    color: var(--bs-primary-color);
}

.bg-theme{

    color: var( --bs-supporting-color);
    font-weight: bold;
    background-image: none!important;
}

.milking-cow--section{
    max-width: 100%;
    height:20rem;
    width: 60%;
    border-radius: 2rem;
}

.custom-shape-divider-bottom-1703654767 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}



.custom-shape-divider-bottom-1703654767 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
}

.custom-shape-divider-bottom-1703654767 .shape-fill {
    fill: #FFFFFF;
} 

/* top part ends here */

.services-section{
    padding: 6rem 0 3rem 0 !important;
    width: 100%;
}

.icon-span{
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--secondary-color);
    color: var(--bs-main-color);
}



.more-info-section{
    background-image: linear-gradient(rgba(22,22,22,0.7), rgba(22,22,22,0.9)), url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 5rem 0;
    overflow: hidden;
    width: 100%;
}

.more-info-section .img-section{
    position: relative;
    margin-bottom: auto;
}

.more-info-section .img-section img{
    width: 70%;
}

.four-image{
    
}

.card-box-product{
    width: 400px;
    height: 600px;
    border-radius: 10px;
}

.card-box-product:hover{
    box-shadow: rgba(149, 157, 165, 0.9) 0 8px 24px;
    transform: translateY(-20px);
}

.card-box:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.services-section .card-box .img-fluide {
    height: 200px;
}



/* Delivery section */

.text-gray{
    color:var(--bs-primary-color) ;
}

.text-light-gray{
    color:var(--bs-primary-color);
}

.delivery-section{
    
    padding-top: 2rem;
}



/* Delivery section */

/* contact section  */

.contact-section{
    position: relative;
}

.contact-section .form-section .btn{
    color: var(--bs-button-color);
}

.custom-shape-divider-top-1704309762 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704309762 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1704309762 .shape-fill {
    fill: #FFFFFF;
}

.contact-section .common-title{
    padding-top: 6rem;
}

.contact-section .form-section{
    width :80%;

    @media (min-width: 992px) {
        width: 50%; 
    }
}
.contact-section .whatsapp-button{
    margin-top: 30px;
    
    @media (min-width: 440px) {
       margin-top: 0; 
    }
}
/* contact section  */

/* footer section  */

.main-footer-section{
    padding: 0 0 4rem 0;
    color: var(--bs-main-color)
}

.contact-div{
    background-color: #222;
}

.whatsapp-button{
    background-color: var(--bs-whatsapp-color);
}

.whatsapp-button:hover{
    background-color: var(--bs-whatsapp-color);
}

.main-footer-section{
    width:100%;
    height: auto;
    padding: 70px 0 20px 0;
    position: relative;
}


.main-footer-section p{
    color: var(--bs-main-color);
}

.main-footer-section li a{
    font-size: 0.9rem;
    line-height: 1.6;
    font-weight: 400;
    color: var(--bs-main-color);
    text-transform: capitalize;
}

.main-footer-section h3{
    text-transform: uppercase;
    color: var(--secondary-color);
    margin-bottom: 25px;
    font-size: 1.2rem !important;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.3);
}


.myBtn{
    display:none;
    position: fixed;
    bottom: 20px;
    right: 15px;
    z-index:99;
    border: none;
    color: #fff;
    background: var(--bs-button-color);
    padding: 10px;
    border-radius: 10px;

}

.myBtn:hover{
    background:var(--bs-primary-color);
}

.newsletter{
    width:100%;
    height: auto;
    margin: 80px auto;
}

.news-input{
    border-radius: 100px 0px 0px 100px !important;
    min-width: 150px;
    min-height:45px;
}
.input-group-text{
    color: #fff !important;
    background: var(--bs-button-color) !important;
    border-radius: 0 100px 100px 0!important;
    min-width: 120px;
    min-height: 45px;
}

.icon-image{
    width: 70px;
    height: 70px;
}

/* footer section  */

@media screen and (max-width: 1200px){
    .milking-cow--section{
        height: 15rem;
        width: 15rem;
        border-radius: 1rem;
    }
}


@media screen and (max-width: 998px){
    
    .navbar-toggler{
        border-color: var(--bs-main-color)
    }

    .navbar-toggler-icon{
        color: var(--bs-main-color);
        background-color: var(--bs-main-color);
    }

    h1{
        font-size: 2.4rem;
    }

    section .common-heading{
        font-size: 2rem;
    }

    section .para-width{
        width: auto;
    }

    .milking-cow{
        height: 100vh;
    }
    
} 



/* Order page starts here */


.order-section .form-section{
    width :80%;

    @media (min-width: 992px) {
        width: 50%; 
    }
}     

.order-section{
    position: relative;
}

.custom-shape-divider-top-1704309761 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1704309761 svg {
    position: relative;
    display: block;
    width: calc(116% + 1.3px);
    height: 115px;
}

.custom-shape-divider-top-1704309761 .shape-fill {
    fill: #FFFFFF;
}

.form-check-input[type=radio] {
    border-radius: 50%;
    margin-right: 10px;
}


.location{
   
    width: 217px;

    @media (min-width: 992px) {
        width: 150px; 
    }
}
/* Order page starts here */

/* footer starts here */

.order-contact-div{
    background-color: rgb(236, 236, 236);
}


/* footer ends here */



/* Gallary starts here  */



.imag-slider{overflow: hidden !important;margin:50px 0;}
#carousel {display: flex;justify-content: center;position: relative;height:calc(50vw / 4 * 3);width:100%;margin:0px 0px 30px;}
#carousel a {position: absolute;aspect-ratio: 4/3;cursor: pointer;transition: transform 1s, left 1s, opacity 1s, z-index 0s;
opacity: 1;}
#carousel a img {width:50vw;height: 100%;transition: width 1s;}
#carousel a.hideLeft {left: 0%;opacity: 0;transform: translateY(50%) translateX(0%);}
#carousel a.hideLeft img,#carousel a.hideRight img {width: calc(50vw / 2);}
#carousel a.hideRight {left: 100%;opacity: 0;transform: translateY(50%) translateX(-100%);}
#carousel a.prev {z-index: 5;left: 30%;transform: translateY(17.5%) translateX(-50%);}
#carousel a.prev img,#carousel a.next img {width: calc(50vw / 4 * 3);}
#carousel a.prevSecond {z-index: 4;left: 15%;transform: translateY(50%) translateX(-50%);opacity: 0.7;}
#carousel a.prevSecond img,#carousel a.nextSecond img {width: calc(50vw / 2);}
#carousel a.selected {z-index: 6;left: 50%;transform: translateY(0px) translateX(-50%)}
#carousel a.next {z-index: 5;left: 70%;transform: translateY(17.5%) translateX(-50%)}
#carousel a.nextSecond {z-index: 4;left: 85%;transform: translateY(50%) translateX(-50%);opacity: 0.7;}
.buttons {display: flex;justify-content: center;width:100%;height:auto;border: none;margin: auto;margin-top: .5em;
}
.buttons button {background: #000;border: inherit;}
.buttons .arrow svg polyline{stroke:#fff;stroke-width:10;}
.arrow {cursor: pointer;width:50px;height:50px;padding:10px;margin:0px 1px;}
.left:hover polyline, .left:focus polyline,.right:hover polyline, .right:focus polyline {stroke-width: 3;
}
.left:active polyline, .right:active polyline {stroke-width: 6;transition: all 100ms ease-in-out;}
polyline {transition: all 250ms ease-in-out;}


/* Gallary ends here  */